<%= simple_form_for(@food_item, url: admin_food_items_path, method: :POST) do |f| %>
  <% if @food_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_item.errors.count, "error") %> prohibited this food_item from being saved:</h2>

      <ul>
      <% @food_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.association :menu_group, collection: MenuGroup.includes(:restaurant).all.order('restaurants.name').order(:name), as: :select, :label_method => lambda { |menu_group| "#{menu_group.restaurant.name} | #{menu_group.name}" } %>
  </div>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :price %>
  </div>
  <div class="actions">
     <%= f.submit 'Create' %>
  </div>
<% end %>
