<h1>Listing food_items</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant menu group</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_items.each do |food_item| %>
      <tr>
         <td><%= food_item.menu_group.name %></td>
        <td><%= food_item.name %></td>
        <td><%= food_item.description %></td>
        <td style="text-align:right">$<%= food_item.price %></td>
        <td><%= link_to 'Show', admin_food_item_path(food_item) %></td>
        <td><%= link_to 'Edit', edit_admin_food_item_path(food_item) %></td>
        <td><%= link_to 'Destroy', admin_food_item_path(food_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food item', new_admin_food_item_path %>
