<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant menu group:</strong>
  <%= @food_item.menu_group_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_item.description %>
</p>

<p>
  <strong>Price Low:</strong>
  $<%= @food_item.price_low %>
</p>
<p>
  <strong>Price High:</strong>
  $<%= @food_item.price_high %>
</p>

<%= link_to 'Edit', edit_admin_food_item_path(@food_item) %> |
<%= link_to 'Back', admin_food_items_path %>
