<div class="row">
  <%= hidden_field_tag 'food[restaurant_id]', @restaurant.id %>
  <div class="small-12 medium-4 columns">
    <%= f.input :name %>
    <%= f.input :food_group, collection: Food.food_groups.map{|food_group| [food_group.first.humanize, food_group.first]}, selected: @food.food_group, include_blank: true %>
  </div>
  <div class="small-12 medium-8 columns">
    <%= f.input :description, as: :text  %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= render partial: "admin/photos/upload", locals: {form: f, object: @food} %>
  </div>
  <div class="small-12 medium-6 columns">
    <%= f.submit class: "button radius success" %>
  </div>
</div>
