<div class="row">
  <div class="small-12 medium-8 columns">
    <%= simple_form_for([:admin, @restaurant, @food]) do |f| %>
      <% if @food.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>
          <ul>
            <% @food.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: "admin/foods/basic_fields_and_submit", locals: {f: f} %>
    <% end %>
  </div>
  <% if !@food.new_record? %>
    <%# <%= render partial: "admin/foods/add_ingredients" %1> %>
  <% end %>
</div>
