<% unless @food.new_record? %>
  <%= render partial: "admin/ajax/food", locals: {restaurant: @restaurant, food: @food} %>
<% end %>
<div class="small-12 columns">
  <%= simple_form_for([:admin, @restaurant, @food]) do |f| %>
    <%= hidden_field_tag 'food[user_id]', current_user.id %>
    <%= render partial: "modules/form_errors", locals: {current_model: @food} %>
    <%= render partial: "admin/foods/basic_fields_and_submit", locals: {f: f} %>
  <% end %>
</div>
<hr>
<% if !@food.new_record? %>
  <%= render partial: "admin/foods/tags/info_and_forms", locals: {restaurant: @restaurant, object: @food, tags: @tags} %>
  <%= render partial: "admin/foods/ingredients/info_and_forms" %>
<% end %>
