<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant menu group:</strong>
   <%= @food.menu_group_id %>
</p>

<p>
  <strong>Name:</strong>
   <%= @food.name %>
</p>

<p>
  <strong>Description:</strong>
   <%= @food.description %>
</p>

<p>
  <strong>Price Low:</strong>
   <%= number_to_currency(@food.price_low) %>
</p>
<p>
  <strong>Price High:</strong>
   <%= number_to_currency(@food.price_high) %>
</p>

<%= link_to 'Edit', edit_admin_food_path(@food) %> |
<%= link_to 'Back', admin_foods_path %>
