<fieldset>
  <legend>
    <h4>Tags:</h4>
  </legend>
  <div class="small-12 medium-4 columns">
    <div id="tags_list">
      <%= render partial: "admin/extras/tags/list", locals: {extra: @extra } %>
    </div>
    <div class="tag-actions universal-flex-container">
      <%= link_to "Tag Up", '#tag-up', id: "extra-tag-up", class: "universal-flex-button flex-button-natural" %>
      <%= link_to "Clear tags", '#clear-tags', id: "extra-remove-tags", class: "universal-flex-button flex-button-natural" %>
    </div>
  </div>
  <div class="small-12 medium-8 columns">
    <%= render partial: "admin/extras/tags/select", locals: {restaurant: @restaurant, extra: @extra, tags: @tags} %>
    <%= render partial: "admin/extras/tags/form",   locals: {restaurant: @restaurant, extra: @extra} %>
  </div>
</fieldset>
