WTF
  <div class="row">
    <div class="small-12 columns">
      <%= f.input :restaurant_id, as: :hidden, :input_html => { :value => @restaurant.id } %>
    </div>
    <div class="small-4 columns">
      <%= f.input :street %>
    </div>
    <div class="small-4 columns">
      <%= f.input :city %>
    </div>
    <div class="small-2 columns">
      <%= f.input :state %>
    </div>
    <div class="small-2 columns">
      <%= f.input :zip %>
    </div>
    <div class="small-4 columns">
      <%= f.input :latitude %>
    </div>
    <div class="small-4 columns">
      <%= f.input :longitude %>
    </div>
    <div class="small-4 columns">
      MAP
    </div>
 </div>
fields
