<div class="row">
  <div class="small-12 columns">
    <%= link_to address.phone_number, "tel://+#{address.phone_number}" %>
  </div>
  <div class="small-12 columns">
    <%= address.street %>, <%= address.city %> <br>
    <%= address.state %> <%= address.zip %>
  </div>

  <% if address.latitude.present? && address.longitude.present?%>
    <div class="small-6 medium-4 columns">
      <strong>Lat:</strong>
      <%= address.latitude %>
    </div>
    <div class="small-6 medium-4 columns">
      <strong>Long:</strong>
      <%= address.longitude %>
    </div>
  <% end %>
  <div class="small-12 columns">
    <%# <%= render partial: 'admin/addresses/map', locals: { address: address } %1> %>
  </div>

  <div class="small-12 columns">
    <%= link_to 'Edit', edit_admin_restaurant_address_path(@restaurant, address) %> |
    <%= link_to 'Remove', admin_restaurant_address_path(@restaurant, address), method: :delete, data: { confirm: 'Are you sure?' }  %>
  </div>
</div>
