<div class="row">
	<div class="small-12 columns">
		<h1>Manage Addresses</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<table>
		  <thead>
		    <tr>
		      <th ></th>
		      <th>Phone #</th>
		      <th>Street</th>
 		      <th>City</th>
		      <th style="width: 28px;"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @addresses.each do |address| %>
	      	<tr>
		        <td>
							<%= link_to raw('<i class="fi-page-edit"></i>'), edit_admin_address_path(address) %>
						</td>
						<td><%= address.phone_number %></td>
						<td><%= address.street %></td>
						<td><%= address.city %></td>
		        <td><%= link_to raw('<i class="fi-trash"></i>'), admin_address_path(address), method: :delete, data: { confirm: 'Are you sure you want to remove this address?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

	</div>
</div>