<div class="small-12 medium-6 large-4 columns admin-show-section">
  <div class="universal-flex-container-add">
    <h2>
      <%= link_to "Menus", admin_restaurant_menus_path(@restaurant) %>
    </h2>
    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_admin_restaurant_menu_path(@restaurant), class: "universal-flex-button flex-button-add" %>
    <h4> (<%= @menus.count %>)</h4>
  </div>

  <% @menus.each do |menu| %>
    <div class="admin-item">
      <%= link_to menu.name == nil ? "Default" : menu.name, edit_admin_restaurant_menu_path(@restaurant, menu) %>
    </div>
  <% end %>
</div>

<div class="small-12 medium-6 large-8 columns admin-show-section">
  <div class="universal-flex-container-add">
    <h2>
      <%= link_to "Menu Groups", admin_restaurant_menu_groups_path(@restaurant) %>
    </h2>
    <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_admin_restaurant_menu_group_path(@restaurant), class: "universal-flex-button flex-button-add" %>
    <h4> (<%= @menu_groups.count %>)</h4>
  </div>
  <% @menu_groups.each do |menu_group| %>
    <div class="admin-item">
      <%= link_to menu_group.name, edit_admin_restaurant_menu_group_path(@restaurant, menu_group) %>
    </div>
  <% end %>
</div>
