<% unless @item.new_record? %>
  <%= render partial: "admin/ajax/item", locals: {restaurant: @restaurant, item: @item} %>
<% end %>
<div class="small-12 columns">
  <%= simple_form_for([:admin, @restaurant, @item]) do |f| %>
    <div class="row">
      <%= hidden_field_tag 'item[restaurant_id]', @restaurant.id %>
      <%= hidden_field_tag 'item[user_id]', current_user.id %>
      <div class="small-12 columns">
        <%= render partial: "admin/items/menu_groups/info_and_forms", locals: {f: f} %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :name %>
        <%= f.input :status, collection: Item.statuses.keys.map{|key| [key.humanize, key]}, include_blank: false %>
        <%= f.input :recommended %>

      </div>
      <div class="small-12 medium-8 columns">
        <%= f.input :description, as: :text  %>
      </div>
      <div class="small-12 medium-8 columns">
        <%= render partial: "admin/photos/upload", locals: {form: f, object: @item} %>
      </div>
      <br>
      <div class="small-12 columns universal-flex-container">
        <%= f.submit class: "universal-flex-button flex-button-natural" %>
      </div>
    </div>
  <% end %>
</div>
<% unless @item.new_record? %>
  <%= render partial: "admin/prices/inner/info_and_forms", locals: {restaurant: @restaurant, object: @item} %>
  <%= render partial: "admin/foods/inner/info_and_forms", locals: {restaurant: @restaurant, object: @item, foods: @foods} %>
  <%= render partial: "admin/tags/inner/info_and_forms", locals: {restaurant: @restaurant, object: @item, tags: @tags} %>
  <%= render partial: "admin/items/extras/info_and_forms" %>
<% end %>
