<div class="row">
  <%= simple_form_for([:admin, @item]) do |f| %>
  <% if @item.errors.any? %>
  <div id="error_explanation" class="small-12">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="small-12 columns" id="restaurant-select">
      <div class="small-4 columns">
        <% if @restaurant %>
          <%= f.association :restaurant, collection: Restaurant.all.order(:name), as: :select, selected: @restaurant.id, label_method: lambda { |restaurant| "#{restaurant.name}" } %>
        <% else %>
          <%= f.association :restaurant, collection: Restaurant.all.order(:name), as: :select, label_method: lambda { |restaurant| "#{restaurant.name}" } %>
        <% end %>
      </div>
      <div class="small-4 columns">
        <%= link_to  "New Restaurant", new_admin_restaurant_path %>
      </div>
    </div>
    <div class="small-12 columns" id="menu-group-select">
      <div class="small-4 columns">
        <% if @item.menu_group_id %>
          <%= f.association :menu_group, collection: @menu_groups, as: :select, selected: @item.menu_group_id, label: "Menu Group", label_method: lambda { |menu_group| "#{menu_group.name}" } %>
        <% elsif @menu_groups %>
          <%= f.association :menu_group, collection: @menu_groups, as: :select, label: "Menu Group", label_method: lambda { |menu_group| "#{menu_group.name}" } %>
        <% end %>
      </div>
      <div class="small-4 columns">
      <% unless @item.new_record? %>
        <%= link_to  "New Menu Group", new_admin_menu_group_path(menu_group: {restaurant_id: @item.restaurant_id}) %>
      <% else %>
        <%= link_to  "New Menu Group", new_admin_menu_group_path  %>
      <% end %>
      </div>
    </div>
    <!-- <div class="small-4 columns">
      <input type="text" id="add_tags" name="add_tags" placeholder="Add tags. Use commas to separate." />
    </div> -->
  <div class="row padded" id="item-form">
    <div class="small-4 columns">
      <%= f.input :name %>
    </div>
    <div class="small-7 columns">
      <%= f.input :description, as: :text  %>
    </div>
    <div class="small-3 columns">
      <h4>Prices:</h4>
    </div>
    <div class="small-3 columns">
      <h4>Sizes:</h4>
    </div>
    <div class="small-6 columns">
    </div>
    <% @item.prices.map do |price| %>
    <div class="small-12 columns">
      <div class="small-3 columns">
        <%= price.price %>
      </div>
      <div class="small-3 columns">
        <%=  price.size %>
      </div>
      <div class="small-3 columns">
        <%= link_to "edit", edit_admin_price_path(price) %>
      </div>

    </div>
    <% end %>
    <div class="small-3 columns">
      <input type="text" id="new_price" name="new_price" placeholder="11.00" />
    </div>
    <div class="small-3 columns">
      <input type="text" id="new_size" name="new_size" placeholder="Size" />
    </div>
    <div class="small-6 columns">
      <%  %>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="actions padded right">
      <%= f.submit class: "button tiny radius success" %>
    </div>
  </div>
<% end %>
</div>
