<div class="row">
  <%= simple_form_for([:admin, @item]) do |f| %>
  <% if @item.errors.any? %>
  <div id="error_explanation" class="small-12">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="row">
    <div class="small-12 columns" id="restaurant-select">
      <div class="small-4 columns">
        <% if @restaurant %>
          <%= f.association :restaurant, collection: Restaurant.all.order(:name), as: :select, selected: @restaurant.id %>
        <% else %>
          <%= f.association :restaurant, collection: Restaurant.all.order(:name), as: :select %>
        <% end %>
      </div>
      <div class="small-4 columns">
        <% if @item.menu_group_id %>
          <%= f.association :menu_group, collection: @menu_groups, as: :select, selected: @item.menu_group_id, label: "Menu Group"%>
        <% elsif @menu_groups %>
          <%= f.association :menu_group, collection: @menu_groups, as: :select, label: "Menu Group"%>
        <% end %>
      </div>
      <div class="small-4 columns">
      <% unless @item.new_record? %>
        <%= link_to "<i class='fi-plus'></i> Menu Group".html_safe, new_admin_menu_group_path(menu_group: {restaurant_id: @item.restaurant_id}) %>
      <% else %>
        <%= link_to "<i class='fi-plus'></i> New Menu Group".html_safe, new_admin_menu_group_path  %>
      <% end %>
      </div>
    </div>
    <div class="small-12 columns" id="restaurant-select">
      <div class="small-4 columns">
        <%= f.input :name %>
      </div>
      <div class="small-8 columns">
        <%= f.input :description, as: :text  %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="actions padded">
        <%= f.submit class: "button tiny radius success" %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row padded">
    <div class="small-12 medium-6 columns">
      <% unless @item.new_record? %>
    <%= simple_form_for(@item, url: admin_items_update_price_path(@item), :method => :post) do |f| %>

    <div class="row">
      <div class="small-4 columns">
        <h4>Prices:</h4>
      </div>
      <div class="small-6columns">
        <h4>Sizes:</h4>
      </div>
      <div class="small-2 columns">

      </div>
    </div>
    <% @item.prices.map do |price| %>
      <div class="row">
        <div class="small-4 columns">
          <%= "$#{price_to_s price.price }"  %>
        </div>
        <div class="small-6 columns">
          <% if price.size != "" %>
          <%= price.size %>
          <% else %>
          <i style="color:gray;"><%="*Empty*" %></i>
          <% end %>
        </div>
        <div class="small-2 columns">
          <%= link_to "Edit", edit_admin_price_path(price), class: "" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-4 columns">
        <input type="text" id="new_price" name="new_price" placeholder="11.00" />
      </div>
      <div class="small-6 columns">
        <input type="text" id="new_size" name="new_size" placeholder="Size" />
      </div>
      <div class="small-2 columns">
          <%= f.submit class: "button tiny radius success", value: 'Add' %>
      </div>
    </div>
  <% end %>
  <% end %>
  </div>
    <div class="small-12 medium-6 columns">

    </div>
</div>
