<div class="row">
  <div class="small-4 columns">
    <h4>Price:</h4>
  </div>
  <div class="small-5 columns">
    <h4>Size:</h4>
  </div>
  <div class="small-3 columns">

  </div>
</div>
<% item.prices.map do |price| %>
  <div class="row item-price-<%=price.id%>">
    <div class="small-4 columns">
      <%= price_to_s price.value %>
    </div>
    <div class="small-5 columns">
      <% if price.size != "" %>
      <%= price.size %>
      <% else %>
      <i style="color:gray;">*Empty*</i>
      <% end %>
    </div>
    <div class="small-3 columns">
      <!-- TODO change text to fields and edit to save with JS -->
      <%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_item_price_path(item.restaurant, item, price)} %> |
      <%= link_to "<i class='fi-trash'></i>".html_safe, admin_restaurant_item_price_path(restaurant, item, price), method: :delete, remote: true %>
    </div>
  </div>
<% end %>

