<h1>Listing Bite Worthy Items</h1>
<div class="row">
  <%= form_tag 'items', method: :get do %>
    <%= render partial: 'admin/modules/restaurant/filter', locals: {restaurants: @restaurants} %>
    <%= render partial: 'admin/modules/menu_group/filter', locals: {menu_groups: @menu_groups} %>
    <div class="small-12 medium-4 large-4 columns">
      <% if params[:filter_restaurant_id] %>
        <%= link_to 'New Item', new_admin_restaurant_item_path(params[:filter_restaurant_id]), class: "button tiny radius success" %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= paginate @items %>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Restaurant</th>
      <th>Menu Group</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= render partial: "partials/forms/show", locals: {path: restaurant_item_path(item.restaurant, item)} %></td>
        <td><%= item.restaurant.name %></td>
        <td><%= item.menu_groups.map(&:name).to_sentence %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_item_path(item.restaurant, item)} %></td>
        <% if current_user.is_admin? %>
          <td><%= render partial: "partials/forms/delete", locals: {path: admin_restaurant_item_path(item.restaurant, item)} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="small-12 columns">
    <%= paginate @items %>
  </div>
</div>

<br>

