<div class="row">
  <div class="small-12 columns">
    <h1>Listing BiteWorthy Items</h1>
  </div>
  <%= form_tag '/admin/items', method: :get, class: "universal-flex-container-add" do %>
    <%= render partial: 'admin/modules/restaurant/filter', locals: {restaurants: @restaurants} %>
    <%= render partial: 'admin/modules/menu_group/filter', locals: {menu_groups: @menu_groups} %>
    <div class="small-12 medium-4 large-4 columns">
      <br>
      <%= link_to 'Add Tags to multiple Items', admin_add_tags_path(restaurant_id: params[:filter_restaurant_id], menu_group_id: params[:menu_group_id]), class: "universal-flex-button flex-button-natural" %>
      <%= link_to 'New Item', new_admin_restaurant_item_path(params[:filter_restaurant_id]), class: "universal-flex-button flex-button-natural" if params[:filter_restaurant_id] %>
    </div>
  <% end %>
  <div class="small-12 columns">
    <%= paginate @items %>
    <table>
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Restaurant</th>
          <th>Menu Group</th>
          <th>Name</th>
          <th>Description</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td class="center">
              <%= render partial: "partials/forms/show", locals: {path: restaurant_item_path(item.restaurant, item)} %><br>
              <%= item.status %>
            </td>
            <td><%= item.restaurant.name %></td>
            <td><%= item.menu_groups.map(&:name).to_sentence %></td>
            <td><%= item.name %></td>
            <td><%= item.description %></td>
            <td><%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_item_path(item.restaurant, item)} %></td>
            <% if current_user.is_admin? %>
              <td><%= render partial: "partials/forms/delete", locals: {path: admin_restaurant_item_path(item.restaurant, item)} %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @items %>
  </div>
</div>

