<div class="row">
  <div class="small-12 large-6 large-centered columns">
    <h2>BiteWorthy Eater</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

    <% end %>
    <% current_user.photos.each do |photo| %>
      <div class="small-12 medium-4 large-3 columns">
        <%= image_tag photo.image(:thumb) %><%= Icon.sup_x.html_safe %>
      </div>
    <% end %>
    <hr>
      <h3>Unhappy?</h3>
      <p>Use the <%= link_to "feedback link", new_report_path %> to let us know how to improve.</p>
      </br>
      <p>Or say goodbye</p>
      </br>
    <div class="wb-flex flex-between">
      <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?  This will delete your reviews and prefrences." }, method: :delete, class: "alert btn-bw-red" %>
    </div>
  </div>
</div>
