<%= simple_form_for [@favorable, Favorite.new] do |f| %>
   <%= f.error_notification %>

   <div class="form-inputs">
      <%= f.association :favorable, collection: FoodItem.all.order(:name), as: :select %>
      <%= f.input :title %>
      <%= f.input :comment %>
      <%= f.input :rating %>
   </div>

   <div class="form-actions">
     <%= f.button :submit %>
   </div>
<% end %>
