<%= simple_form_for [@favoriteable, @favorite] do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>
      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
  <div class="small-4 columns">
    <%= f.input :title %>
  </div>
  <div class="small-8 columns">
    <%= f.input :description %>
  </div>
  <div class="small-12 columns">
    <%= f.input :rating %>
  </div>
</div>
<div class="small-12 columns">
  <%= f.submit %>
</div>
<% end %>
