<h1>Your favorites</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Rating</th>
      <th>Title</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
         <td><%= favorite.favoriteable_id %></td>
         <td><%= favorite.favoriteable_type %></td>
         <td><%= favorite.rating %></td>
         <td><%= favorite.title %></td>
        <td><%= favorite.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
