<div class="row">
  <div class="small-12 columns">
    <h2>
      <%= @items.count %>
      <%= link_to @restaurant.name, restaurant_path(@restaurant) if @restaurant %>
      <%= "item".pluralize(@items.count) %> with <%= search_type %>:
      <b>
        <%= link_to(@search.name, polymorphic_path([@restaurant, @search])) if @restaurant.present? %>
        <%= link_to @search.name, polymorphic_path(@search) unless @restaurant.present? %>
        <% if search_type == "tag" %>
          <div class="tag-float-right">
            <%= render partial: "tags/block", locals: {tag: @search, size: :medium} %>
          </div>
        <% end %>

      </b>
    </h2>
  </div>
  <div class="search-items-show">
    <% @items.each do |item| %>
      <%= render partial: "items/show", locals: {item: item} %>
    <% end %>
  </div>
</div>
