<div class="row">
  <div class="small-12 columns">
    <h2>
      <%= @items.count %>
      <%= link_to @restaurant.name, restaurant_path(@restaurant) if @restaurant %>
      <%= "item".pluralize(@items.count) %> containing <%= search_type %>:
      <b>
        <%= link_to(@search.name, polymorphic_path([@restaurant, @search])) if @restaurant.present? %>
        <%= link_to @search.name, polymorphic_path(@search) unless @restaurant.present? %>
      </b>
    </h2>
  </div>
  <div style="display:inline-flex;flex-wrap:wrap;">
    <% @items.each do |item| %>
      <%= render partial: "items/show", locals: {item: item} %>
    <% end %>
  </div>
</div>
