<div class="row">
  <div class="small-12 columns">
    <h2>
      <%= @items.count %>
      <%= link_to @restaurant.name, restaurant_path(@restaurant) if @restaurant %>
      <%= "item".pluralize(@items.count) %> with <%= search_type %>:
      <b>
        <%= link_to(@search.name, polymorphic_path([@restaurant, @search])) if @restaurant.present? %>
        <%= link_to @search.name, polymorphic_path(@search) unless @restaurant.present? %>
        <% if search_type == "tag" %>
          <div class="tag-float-right">
            <%= render partial: "tags/block", locals: {tag: @search, size: :medium, hide_text: true} %>
          </div>
        <% end %>
      </b>
    </h2>
  </div>
</div>
  <div class="grid cards-container">
    <% @items.each do |item| %>
      <%= render partial: "items/card", locals: {restaurant: item.restaurant, item: item} %>
    <% end %>
  </div>
<script>

  var filters = [];
  var $grid;
  $(function(){
    $grid = $('.grid').imagesLoaded(function(){

      $grid.isotope({
        itemSelector: '.card',
        layoutMode: 'fitRows'
      });
    });
  });
</script>
