<div class="row">
	<div class="small-12 columns">
      <div class="icon-bar four-up">
         <a class="item" href="<%=root_path%>">
            <i class="fi-home"></i>
            <label>Home</label>
         </a>
         <a class="item" href="<%=favorites_path%>">
            <i class="fi-eye"></i>
            <label>Favorites</label>
         </a>

         <% if (!@user.nil? && @user.is_admin) || (!current_user.nil? && current_user.is_admin) %>
            <a class="item" href="<%=admin_users_path%>">
               <i class="fi-torso"></i>
               <label>Users</label>
            </a>
         <% else %>
            <a class="item"  href="<%=edit_user_registration_path(@user)%>">
               <i class="fi-torso"></i>
               <label>Login</label>
            </a>
         <% end %>
         <% if (!@user.nil? && @user.is_admin) || (!current_user.nil? && current_user.is_admin) %>
            <a class="item" href="<%=admin_home_path%>">
               <i class="fi-key"></i>
               <label>Admin</label>
            </a>
         <% else %>
            <!-- Nada -->
         <% end %>
      </div>
   </div>
</div>
