<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%=root_path%>">BWD</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <% if current_user %>
      <ul class="left">
        <li><a href="<%= edit_user_registration_path(current_user) %>">Profile</a></li>
        <li><a href="<%=reviews_path%>">Reviews</a></li>
      </ul>
    <% end %>
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% if current_user.is_admin? %>
        <li><a href="<%=admin_users_path%>">Users</a></li>
          <li class="has-dropdown">
            <a href="<%=admin_root_path%>">Admin</a>
            <ul class="dropdown">
              <li><a href="<%=admin_restaurants_path%>">Restaurants</a></li>
              <li><a href="<%=admin_menu_groups_path%>">Menu Groups</a></li>
              <li><a href="<%=admin_items_path%>">Items</a></li>
              <li><a href="<%=admin_foods_path%>">Foods</a></li>
              <li><a href="<%=admin_ingredients_path%>">Ingredients</a></li>
              <li><a href="<%=tags_path%>">Tags</a></li>
            </ul>
          </li>
        <% end %>
      <% else %>
        <li class="active"><a href="<%=user_session_path%>">Login</a></li>
      <% end %>
    </ul>

  </section>
</nav>
