<div class="row">
	<div class="small-12 columns">
      <div class="icon-bar four-up">
            <a class="item" href="<%=root_path%>">
               <i class="fi-home"></i>
               <label>Restaurants</label>
            </a>
            <a class="item" href="<%=reviews_path%>">
               <i class="fi-trophy"></i>
               <label>Reviewed</label>
            </a>
           <% if current_user.is_admin %>
            <a class="item" href="<%=admin_users_path%>">
               <i class="fi-torso"></i>
               <label>Users</label>
            </a>
            <a class="item" href="<%=admin_home_path%>">
               <i class="fi-key"></i>
               <label>Admin</label>
            </a>
        <% else %>
        <a class="item" href="<%= user_path(current_user) %>">
            <i class="fi-torso"></i>
            <label>Profile</label>
          </a>
        <% end %>
        <% if current_user.is_editor %>
        <a class="item" href="<%=admin_home_path%>">
            <i class="fi-pencil"></i>
            <label>Editor</label>
          </a>
        <% end %>
      </div>
   </div>
</div>
