<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for([:admin, @restaurant, @choice]) do |f| %>
      <div class="row">
        <%= hidden_field_tag 'choice[restaurant_id]', @restaurant.id %>
         <div class="small-12 medium-6 large-4 columns">
            <%= f.input :name %>
         </div>
         <div class="small-12 medium-6 large-8 columns">
            <%= f.input :description, as: :text %>
         </div>
      </div>
      <div class="small-12 columns">
         <%= f.submit class: "button tiny success radius"%>
      </div>
    <% end %>
  </div>
  <% unless @choice.new_record? %>
    <%= render partial: "admin/choices/foods/info_and_forms" %>
  <% end %>
</div>