<div class="row">
	<div class="small-12 columns">
		<h1>Manage Choices</h1>
	</div>
</div>
<div class="row">
    <%= form_tag 'choices', method: :get do %>
      <%= render partial: 'admin/modules/restaurant/filter', locals: {restaurants: @restaurants} %>
  <% end %>
  <div class="small-12 medium-6 large-4 columns">
    <% if @restaurant %>
      <%= link_to 'New Choice...', new_admin_restaurant_choice_path(@restaurant), class: "button tiny radius success" %>
    <% end %>
  </div>
</div>

<div class="row">
	<div class="small-12 columns">
		<table class="small-12">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Restaurant</th>
		      <th>Choice</th>
		      <th>Description</th>
 		      <th></th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @choices.each do |choice| %>
	      	<tr>
						<td><%= render partial: "partials/forms/show", locals: {path: restaurant_choice_path(choice.restaurant, choice)} %></td>
						<td><%= choice.restaurant.name %></td>
						<td><%= choice.name %></td>
						<td><%= choice.description %></td>
						<td><%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_choice_path(choice.restaurant, choice)} %></td>
		        <td><%= link_to raw('<i class="fi-trash"></i>'), admin_restaurant_choice_path(choice.restaurant, choice), method: :delete, data: { confirm: 'Are you sure you want to remove this choice?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>

		<%= paginate @choices %>
	</div>
</div>
