<%= simple_form_for([:admin, @restaurant, @menu_group]) do |f| %>
<!-- , url: admin_menu_group_path(@menu_group) -->
  <% if @menu_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_group.errors.count, "error") %> prohibited this menu_group from being saved:</h2>

      <ul>
      <% @menu_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% if @restaurant %>
      <%= f.association :restaurant, collection: Restaurant.all, as: :select, include_blank: false, :selected => @restaurant.id  %>
    <% else %>
      <%= f.association :restaurant, collection: Restaurant.all, as: :select, include_blank: false %>
    <% end %>

  </div>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :background_color, input_html:{ class: 'color'} %>
  </div>
  <div class="field">
    <%= f.input :text_color, input_html:{ class: 'color'} %>
  </div>

  <div class="actions">
    <%= f.submit :class => "button small radius"  %>
  </div>
<% end %>
<div style="float:right;">
  <%= link_to 'Menu Groups', admin_restaurant_menu_groups_path(@restaurant), :class => "button tiny radius"  %>
</div>
