<div class="row admin-restaurant-show">
  <div class="small-12 columns">
    <h1>Editing <%= link_to @restaurant.name, admin_restaurant_path(@restaurant) %> menu group</h1>
  </div>
  <%= render 'form' %>
  <div class="small-12 columns">
    <h2><%= @items.count %> <%= "Item".pluralize(@items.count) %> in this menu group</h2>
  </div>
  <div class="small-12 columns admin-show-section">
    <% @items.each do |item| %>
      <div class="admin-item">
        <%= link_to item.name, edit_polymorphic_path([:admin, @restaurant, item]) %>
      </div>
    <% end %>
  </div>
</div>
<br>
<%= render partial: "admin/restaurants/footer" %>
