<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
   <%= @menu_group.restaurant.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menu_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu_group.description %>
</p>

<%= link_to 'Edit', edit_admin_menu_group_path(@menu_group), :class => "button tiny radius"  %> |
<%= link_to 'Back', admin_menu_groups_path, :class => "button tiny radius"  %>
