<div id="points" class="row">
  <div class="small-12 columns">
    <h2>Your BiteWorthy Stats</h2>
    <p>All BiteWorthy Member are granted 42 points upon joining.</p>
    <p>And then there are two ways to get points.</p>
  </div>
  <div class="small-12 medium-4 large-5 columns">
  <br>
    <h5><%= link_to "Reviews", reviews_path %></h5>
    <p>Positive reviews are adding: <%= @good_reviews_sum %> points</p>
    <p>Negative reviews are subtracting: <%= @bad_reviews_sum %> points</p>
  </div>
  <div class="small-12 medium-4 large-2 columns">
  <br>
    <h5 class="center"></h5>
  </div>
  <div class="small-12 medium-4 large-5 columns">
  <br>
    <h5><%= link_to "UGC", "https://en.wikipedia.org/wiki/User-generated_content" %></h5>
    <p>You have generated <%= @user_points_sum %> BiteWorthy points.</p>
    <% if @user_points_sum <= 42 %>
      <p>Join the BiteWorthy Team and start contributing content to local restaurants.</p>
    <% end %>
    <p><a href="#" class="email" data-user="info" data-domain="biteworthy.restaurant" onclick="this.href='mailto:'+this.getAttribute('data-user')+'&#64;'+this.getAttribute('data-domain');this.click()"></a></p>
  </div>
</div>
