<div class="row">
  <div class="small-4 medium-6 columns">
    <h1><%= current_user.user_name %></h1>
  </div>
  <div class="small-4 medium-3 columns">
    <h4>
    <%= "Editor" if current_user.is_editor? %>
    <%= "Admin" if current_user.is_admin? %>
    </h4>
    <p>Level: <%= current_user.level %></p>
  </div>
  <div class="small-4 medium-3 columns">
    <table>
      <thead>
        <td>Stats</td>
        <td></td>
      </thead>
      <tbody>
        <tr>
          <td>Photos:</td>
          <td><%= @photos_taken %></td>
        </tr>
        <tr>
          <td>Reviews:</td>
          <td><%= @current_user.reviews.count %></td>
        </tr>
        <tr>
          <td>Strikes:</td>
          <td><%= @current_user.strikes.to_i %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= render partial: "users/preferences" %>

  <%= render partial: "users/ratings", locals: { tag_reviews: @tag_reviews, item_reviews: @item_reviews, restaurant_reviews: @restaurant_reviews} %>

</div>
