<div class="row">
  <div class="small-12 medium-6 columns">
    <h1><%= current_user.user_name %></h1>
  </div>
  <div class="small-12 medium-3 columns">
    <%= "Editor" if current_user.is_editor? %>
    <%= "Admin" if current_user.is_admin? %>
    <p>Level: <%= current_user.level %></p>
  </div>
  <div class="small-12 medium-3 columns">
    <p>Photos: <%= current_user.photos.count %></p>
    <p>Reviews: <%= current_user.reviews.count %></p>
    <p>Strikes: <%= current_user.strikes %></p>
  </div>
  <div class="small-12  columns">
  <h2>Ratings</h2>
  </div>
  <hr>
  <div class="small-12 medium-4 columns">
    <h3>Tags:</h3>
    <%= render partial: "users/review_list", locals: {reviews: @tag_reviews} %>
  </div>
  <div class="small-12 medium-4 columns">
    <h3>Items:</h3><br>
    <%= render partial: "users/review_list", locals: {reviews: @item_reviews} %>
  </div>
  <div class="small-12 medium-4 columns">
    <h3>Restaurants:</h3>
    <%= render partial: "users/review_list", locals: {reviews: @restaurant_reviews} %>
  </div>
</div>
