<div class="row">
  <div class="small-12 medium-9 columns">
    <h1><%=current_user.user_name%></h1>
  </div>
  <div class="small-12 medium-3 columns">
    <%= "Editor" if current_user.is_editor? %>
    <%= "Admin" if current_user.is_admin? %>
    <p>Level: <%= current_user.level %></p>
  </div>
  <div class="small-12 medium-3 columns">
    <p>Photos: <%= current_user.photos.count %></p>
    <p>Reviews: <%= current_user.reviews.count %></p>
    <p>Strikes: <%= current_user.strikes %></p>
  </div>
</div>
