<div class="row">
  <div class="small-6 medium-6 columns">
    <h1><%= current_user.user_name %></h1>
    <p><%= current_user.email %></p>
    <p>Sign in method: <%= current_user.provider %></p>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>
    <%= "Editor" if current_user.is_editor? %>
    <%= "Admin" if current_user.is_admin? %>
    </h4>
    <p><%= link_to "Level:", levels_path %> <%= current_user.level %></p>
    <p>Strikes: <%= current_user.strikes.to_i %></p>
  </div>
  <div class="small-12 medium-3 columns">
    <h5>BiteWorthy Stats</h5>
    <p>You have earned <%= link_to "#{@total_user_points} points", my_points_path %> </p>
  </div>

  <%= render partial: "users/preferences" %>
</div>
