<div class="row">
  <div class="small-11 columns">
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="small-8 columns">
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <div class="small-4 columns">

        <div class="actions">
          <br><br>
          <%= f.submit "Reset password" %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
