<div class="row">

  <div class="small-12 columns">

    <h1>Listing Points</h1>
  </div>
  <div class="small-12 columns">

    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Object</th>
          <th>Change type</th>
          <th>Worth</th>
          <th>Changes</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% @points.each do |point| %>
          <tr>
            <td><%= point.user.user_name %></td>
            <td>
              <%= link_to "#{point.object_class}(#{point.object_id})", admin_point_path(point) %>
            </td>
            <td><%= point.display_change_type %></td>
            <td><%= point.worth %></td>
            <td><%= point.object_changes %></td>
            <td><%= point.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
