
<%= simple_form_for(@ingredient) do |f| %>

<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <% if @food %>
      <%= f.input :food_id, as: :hidden, input_html: { value: @food.id } %>
    <% end %>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <%= f.input :name, placeholder: "Green pepper, red onion, sharp chedder cheese, or iceburg lettuce"  %>
    <%= f.label :notes, "***Please be descriptive; qualify the Type, Variety, Color, Brand and use singular***", class: "inline" %>
  </div>
  <div class="small-6 medium-6 large-4 columns">
     Tag:
  </div>
  <div class="small-6 medium-6 large-4 columns">
     <%=@ingredient.normalized_name %>
  </div>
  <div class="small-12 medium-12 large-12 columns">
    <%= f.submit class: "button small radius center" %>
  </div>
</div>
<% end %>
