<% unless @extra.new_record? %>
  <%= render partial: "admin/ajax/extra", locals: {restaurant: @restaurant, extra: @extra} %>
<% end %>
<div class="row">
  <%= simple_form_for([:admin, @restaurant, @extra]) do |f| %>
    <%= hidden_field_tag 'extra[restaurant_id]', @restaurant.id %>
    <div class="small-12 medium-6 large-4 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <%= f.input :description, as: :text %>
    </div>
    <div class="small-12 large-2 columns">
      <%= f.input :extra_type, as: :select, collection: Extra.extra_types.keys.to_a, include_blank: false %>
    </div>
    <div class="small-12 medium-8 columns">
      <%= render partial: "admin/photos/upload", locals: {form: f, object: @extra} %>
    </div>
    <div class="small-12 columns universal-flex-container">
      <%= f.submit class: "universal-flex-button flex-button-natural" %>
    </div>
  <% end %>
</div>
<% unless @extra.new_record? %>
  <%= render partial: "admin/extras/foods/info_and_forms" %>
  <%= render partial: "admin/extras/tags/info_and_forms" %>
  <%= render partial: "admin/extras/prices/info_and_forms" %>
<% end %>
