<% unless @extra.new_record? %>
  <%= render partial: "admin/ajax/extra", locals: {restaurant: @restaurant, extra: @extra} %>
<% end %>
<%= simple_form_for([:admin, @restaurant, @extra], html: {multipart: true}, class: "row") do |f| %>
  <%= hidden_field_tag 'extra[restaurant_id]', @restaurant.id %>
  <% if current_user.nom? %>
    <div class="small-12 columns">
      <fieldset>
        <legend>
          Admin
        </legend>
        <div class="small-12 medium-6 columns">
          <%= f.input :extrable_id, readonly: true %>
        </div>
        <div class="small-12 medium-6  columns">
          <%= f.input :extrable_type, readonly: true %>
        </div>
      </fieldset>
    </div>
  <% end %>
  <% if @extra.new_record? %>
    <div class="small-12 medium-6 large-5 columns">
      <label>Items</label>
      <%= f.select(:extrable_item, Item.where(restaurant: @restaurant).all.order(:name).map{|x| [x.name, "Item:#{x.id}"]}, prompt: "Choose wisely") %>
    </div>
    <div class="small-12 medium-6 large-5 columns">
      <label>Foods</label>
      <%= f.select(:extrable_food, Food.where(restaurant: @restaurant).all.order(:name).map{|x| [x.name, "Food:#{x.id}"]}, prompt: "Choose only one") %>
    </div>
  <% else %>
    <div class="small-12 columns">
      <h3>
        Parent: <%= link_to @extra.extrable.name, edit_polymorphic_path([:admin, @extra.restaurant, @extra.extrable]) %>
        (<%= @extra.extrable_type %>)
      </h3>
    </div>
  <% end %>
  <div class="small-12 medium-4 columns">
    <%= f.input :addon_type, as: :select, collection: Extra.addon_types.keys.to_a, include_blank: false %>
  </div>
  <div class="small-12 medium-8 columns">
    <%= show_image(@extra.extrable, size: :thumb) %>
  </div>
  <div class="small-12 columns universal-flex-container">
    <%= f.submit class: "universal-flex-button flex-button-natural" %>
  </div>
<% end %>
<% unless @extra.new_record? %>
  <% if @extra.addon_type == "addition" %>
    <%= render partial: "admin/prices/inner/info_and_forms", locals: {restaurant: @restaurant, object: @extra} %>
  <% else %>
    <p>Prices will show for 'Additions'.</p>
  <% end %>
<% end %>
