<div class="row">
  <div class="small-9 columns">
    <h1>Manage <%= @restaurant.name %> Extras</h1>
  </div>
  <div class="small-3 columns">
    <%= link_to 'New Extra', new_admin_restaurant_extra_path(@restaurant), class: "button radius success" %>
  </div>

  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Belongs to</th>
          <th>Type</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @extras.each do |extra| %>
          <tr>
            <td><%= link_to raw('<i class="fa fa-eye"></i>'), restaurant_extra_path(@restaurant, extra) %></td>
            <td><%= link_to extra.extrable.name, edit_polymorphic_path([:admin, extra.restaurant, extra.extrable]) %></td>
            <td><%= extra.extrable_type %></td>
            <td><%= extra.addon_type %></td>
            <td><%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_extra_path(@restaurant, extra)} %></td>
            <td><%= link_to raw('<i class="fa fa-trash"></i>'), admin_restaurant_extra_path(@restaurant, extra), method: :delete, data: { confirm: 'Are you sure you want to remove this extra?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @extras %>
  </div>
  <%= render partial: "admin/restaurants/footer" %>
</div>
