<div class="row">
  <div class="small-12 columns universal-flex-container">
    <h1>Manage Ingredients</h1>
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_admin_ingredient_path, class: "universal-flex-button flex-button-natural vertical-center" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render partial: 'partials/ingredients/datatable' %>
    <%# <table class="small-12" id="admin-ingredients-index-table"> %>
    <%#   <thead> %>
    <%#     <tr> %>
    <%#       <th colspan="1"></th> %>
    <%#       <th>Name</th> %>
    <%#       <th>Normalized name</th> %>
    <%#       <th>Tags</th> %>
    <%#       <th></th> %>
    <%#       <th></th> %>
    <%#     </tr> %>
    <%#   </thead> %>

    <%#   <tbody> %>
    <%#     <% @ingredients.each do |ingredient| %1> %>
    <%#       <tr> %>
    <%#         <td><%= link_to "<i class='fa fa-eye'></i>".html_safe, ingredient_path(ingredient) %1></td> %>
    <%#         <td><%= ingredient.name %1></td> %>
    <%#         <td><%= ingredient.normalized_name %1></td> %>
    <%#         <td> %>
    <%#           <% unless ingredient.tags.empty? %1> %>
    <%#             <%= ingredient.tags.map(&:name).to_a.to_sentence %1> %>
    <%#           <% end %1> %>
    <%#         </td> %>
    <%#         <td><%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_ingredient_path(ingredient) %1></td> %>
    <%#         <% if current_user.is_admin? %1> %>
    <%#           <td><%= link_to "<i class='fa fa-trash'></i>".html_safe, admin_ingredient_path(ingredient), method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>
    <%#         <% end %1> %>
    <%#       </tr> %>
    <%#     <% end %1> %>
    <%#   </tbody> %>
    <%# </table> %>
  </div>
</div>
