<%= simple_form_for(@restaurant, url: admin_restaurants_path, method: :POST) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
   <div class="small-3 columns">
      <%= f.input :name %>
   </div>
   <div class="small-9 columns">
      <%= f.input :slogan %>
   </div>
</div>

<div class="row">
   <div class="small-3 columns">
      <%= f.input :phone_number %>
   </div>
</div>
<div class="row">
   <div class="small-6 columns">
      <%= f.input :latitude %>   
   </div>

   <div class="small-6 columns">
      <%= f.input :longitude %>
   </div>
</div>
   <div class="small-12 columns">
       <%= f.submit %>
  </div>
<% end %>
