<div class="row">
  <div class="small-12 columns">
    <% if @restaurant.new_record? %>
      <h1>Editing restaurant</h1>
    <% else %>
      <h1>Editing <%= @restaurant.name %></h1>
    <% end %>
    <%= render 'form' %>

    <%= link_to 'Show', @restaurant %> |
    <%= link_to 'Back', admin_restaurants_path %>
    <div class="small-12 columns">
      <%= link_to "All #{@item.restaurant.name} items", admin_items_path(restaurant_id: @item.restaurant), class: "button tiny radius padded" %>
    </div>

  </div>
</div>