<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <h1><%=  link_to @restaurant.name, edit_admin_restaurant_path(@restaurant) %></h1>
    <p>
      <strong>Slogan:</strong>
      <%= @restaurant.slogan %>
    </p>
  </div>
  <div class="small-12 columns">
    <p>
      <strong>Addresses:</strong>
    </p>
    <% @restaurant.addresses.each do |address| %>
      <%= render partial: "admin/addresses/show", locals: {address: address} %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <%= render partial: "admin/restaurants/sections/menus" %>
  <%= render partial: "admin/restaurants/sections/basic", locals: {name: "item", values: @items, } %>
  <%= render partial: "admin/restaurants/sections/basic", locals: {name: "food", values: @foods, } %>
  <%= render partial: "admin/restaurants/sections/basic", locals: {name: "choice", values: @choices, } %>
  <%= render partial: "admin/restaurants/sections/basic", locals: {name: "addition", values: @additions, } %>
  <div class="small-12 small-centered columns">
    <%= link_to 'All Restaurants', admin_restaurants_path, class: "button small round" %>
  </div>
</div>


