<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Slogan:</strong>
  <%= @restaurant.slogan %>
</p>

<p>
  <strong>Food groups:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>Addresses:</p>
<% @restaurant.addresses.each do |address| %>
  <% render partial: "admin/addresses/show", locals: {address: address} %>
<% end %>

<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant) %> |
<%= link_to 'Back', admin_restaurants_path %>
