<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
    <h1><%=  link_to @restaurant.name, edit_admin_restaurant_path(@restaurant) %></h1>
    <p>
      <strong>Slogan:</strong>
      <%= @restaurant.slogan %>
    </p>
  </div>
</div>

<hr>

<div class="row admin-restaurant-show">
  <%= render partial: "admin/restaurants/sections/menus" %>
  <%= render partial: "admin/restaurants/sections/basic", locals: { name: "item", values: @items } %>
  <%= render partial: "admin/restaurants/sections/basic", locals: { name: "food", values: @foods } %>
  <%= render partial: "admin/restaurants/sections/extras", locals: { choices: @choices, additions: @additions } %>
</div>


