<div id="universal-fill" class="universal-flex-container">
  <% if rating == nil %>
    <div class="universal-flex-button flex-button-natural">
      <%= link_to "<i class='fi-upload-cloud'></i>".html_safe, "#", class: "rating-review",
        data: {rating: 1, review_type: reviewable.class.to_s, review_id: reviewable.id} %>
    </div>
    <div class="universal-flex-button flex-button-natural">
      -
    </div>
    <div class="universal-flex-button flex-button-natural">
      <%= link_to "<i class='fi-download'></i>".html_safe, "#", class: "rating-review",
        data: {rating: -1, review_type: reviewable.class.to_s, review_id: reviewable.id} %>
    </div>
  <% else %>
    <% max = rating + 1 %>
    <% min = rating - 1 %>
    <% if max <= 4 %>
      <div class="universal-flex-button flex-button-natural">
        <%= link_to "<i class='fi-upload-cloud'></i>".html_safe, "#", class: "rating-review",
          data: {rating: max, review_type: reviewable.class.to_s, review_id: reviewable.id} %>
      </div>
    <% end %>
    <div class="universal-flex-button flex-button-natural">
      <%= Review.ratings.key(rating).humanize %>
    </div>
    <% if min >= -4 %>
      <div class="universal-flex-button flex-button-natural">
        <%= link_to "<i class='fi-download'></i>".html_safe, "#", class: "rating-review",
          data: {rating: min, review_type: reviewable.class.to_s, review_id: reviewable.id} %>
        </div>
      <% end %>
    <% end %>
  </div>
