<%= simple_form_for(@favorite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :favoriteable_id %>
    <%= f.input :favorite_type %>
    <%= f.input :title %>
    <%= f.input :comment %>
    <%= f.input :rating %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
