<%= form_for(@tag) do |f| %>
<div class="row">
	<div class="small-12 medium-2 large-2 columns">  
	    <% if @tag.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

	      <ul>
	      <% @tag.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
  </div>
</div>

<div class="row">
	<div class="small-12 medium-2 large-2 columns">
		<%= f.label :first_name, "Name", :class => "show-for-medium-up right inline" %>
		<%= f.label :first_name, "Name", :class => "show-for-small-only" %>
	</div>
	<div class="small-12 medium-10 large-10 columns">
		<%= f.text_field :name, :placeholder => "Tag name"  %>
	</div>
</div>


<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<%= f.submit :class => "button small radius" %>
		<%= link_to "Cancel", bdmcs.tags_url, :class => "button tiny secondary" %>
	</div>
</div>
<% end %>
