<%= simple_form_for([:admin, @tag]) do |f| %>
  <%= render partial: "modules/form_errors", locals: {current_model: @tag} %>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input :description %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input :type, collection: Tag.types.map{|type| [type.first, type.first]} %
    </div>
  </div>

  <div class="row universal-flex-container">
      <%= f.submit class: "universal-flex-button flex-button-natural" %>
  </div>
<% end %>
