<div class="row" id="tag-edit">
  <div class="small-12 columns">
    <h1>
      Editing
      <% if @tag.icon.present? %>
        <%= image_tag(@tag.icon.url)  %>
        <% @tag.icon_file_name %>
      <% end %>
      tag
    </h1>
  </div>
  <%= render 'form' %>
  <% if @tag.persisted? %>
    <div class="small-12 columns">
    </div>
    <div class="small-12 medium-3 columns" id="parent-tag">
      <%= render partial: "admin/tags/parent", locals: {tag: @tag} %>
    </div>
    <div class="small-12 medium-4 columns" id="sibling-tags">
      <%= render partial: "admin/tags/siblings", locals: {tag: @tag} %>
    </div>
    <div class="small-12 medium-5 columns" id="children-tags">
      <%= render partial: "admin/tags/children", locals: {tag: @tag} %>
    </div>
  <% end %>
</div>
