<div class="row">
  <div class="small-12 medium-8 columns">
    <h1>Manage Tags</h1>
  </div>
  <div class="small-12 medium-4 columns universal-flex-container">
    <%= link_to "New", new_admin_tag_path, class: "universal-flex-button flex-button-natural" %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table class="small-12">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Variety</th>
        </tr>
      </thead>

      <tbody>
        <% @tags.each do |tag| %>
          <tr>
            <td>
              <%= link_to raw('<i class="far fa-edit"></i>'), edit_admin_tag_path(tag) %>
            </td>
            <td><%= tag.name %></td>
            <td><%= tag.description %></td>
            <td><%= tag.variety %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
