<% path = @restaurant.present? ? tag_search_path(tag_id: tag, restaurant_id: @restaurant) : tag_search_path(tag_id: tag) %>
<%= link_to path, class: 'tag-block' do %>
  <% hide_text  ||= false %>
  <% admin_edit ||= false %>
  <% size ||= :small %>
  <% ratio = "75x75" %>
  <% case(size)
  when :tiny
    ratio = "32x32"
  when :small
    ratio = "50x50"
  when :medium
    ratio = "75x75"
  end
%>

  <% if tag.icon.present? %>
    <%= image_tag(tag.icon.url(size), tooltip: tag.name.tr("-", " ").capitalize, title: tag.name.tr("-", " ").capitalize).html_safe %>
  <% else %>
    <%= image_tag "empty.png", size: ratio, class: "icon-size-#{size.to_s}" %>
  <% end %>

  <% unless hide_text %>
    <p class="name"><%= tag.name.tr("-", " ").capitalize %></p>
  <% end %>
  <% if admin_edit %>
    <%= link_to Icon.sup_x.html_safe, '#', class: "food-remove-tag item-remove-tag extra-remove-tag", data: {tag_id: tag.id} %>
  <% end %>
<% end %>
