<div class="row">
  <div class="small-12 columns">
    <h1>Tag</h1>
    <p><b>Name:</b> <%= @tag.name.capitalize %></p>
    <p><b>Descrpition:</b> <%= @tag.description %></p>
    <p><b>Variety:</b> <%= @tag.variety %></p>
    <p>
      <b>Icon:</b>
      <% if @tag.icon.present? %>
        <div class="tag-flex-container">
          <%= render partial: "tags/block", locals: {tag: @tag, size: :medium} %>
        </div>
      <% else %>
        Missing
      <% end %>
    </p>
    <hr>
    <% if current_user && current_user.is_admin? %>
      <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_admin_tag_path(@tag) %>
    <% end %>
  </div>
</div>
