<%= simple_form_for([:admin, @variety.ingredient, @variety]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <% if current_user && current_user.level == "nom" %>
      <%= f.input :ingredient_id %>
    <% elsif @vaiety.ingredient.present? %>
      <span><%= @variety.ingredient.name %></span>
    <% end %>
    <%= f.input :ingredient_first %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
