<div class="row">
  <div class="small-12 columns">
    <h2>Variety of <%= @variety.ingredient.name %></h2>
  </div>
  <div class="small-12 medium-6 columns">
    <table>
      <thead>
        <tr>
          <% if @variety.ingredient_first %>
            <td>Ingredient</td>
            <td>Variety</td>
          <% else %>
            <td>Variety</td>
            <td>Ingredient</td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= "<td>#{@variety.ingredient.name}</td>".html_safe if @variety.ingredient_first %>
          <td><%= link_to @variety.name, edit_admin_ingredient_variety_path(@variety.ingredient, @variety) %></td>
          <%= "<td>#{@variety.ingredient.name}</td>".html_safe unless @variety.ingredient_first %>
        </tr>
      </tbody>
    </table>
    </h5>
  </div>
  <div class="small-12 medium-6 columns">
    <strong>Used in:</strong>
    <ul>
      <% @foods.map do |food|  %>
        <li>
          <%= link_to "#{food.restaurant.name} #{food.name}", restaurant_food_path(food.restaurant, food) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="small-12 columns">
    <%= link_to 'Edit', edit_admin_ingredient_variety_path(@variety.ingredient_id, @variety) %> |
    <%= link_to 'Back', admin_ingredient_varieties_path(@variety.ingredient_id) %>
  </div>
</div>
