<%= simple_form_for(item.tags.new, url: admin_restaurant_item_add_new_tag_path(restaurant, item), method: :post) do |f| %>
  <%= f.hidden_field :restaurant_id, value: item.restaurant.id %>
  <%= hidden_field_tag 'item_id', item.id %>
  <div class="row universal-flex-container no-bottom-margin">
    <div class="small-4 columns">
      <%= f.input :name %>
    </div>
    <div class="small-5 columns">
      <%= f.input :description %>
    </div>
    <div class="small-3 columns">
      <label>&nbsp;</label>
      <%= f.submit "Add", class: "universal-flex-button flex-button-natural vertical-center" %>
    </div>
  </div>
<% end %>
