<h1>Listing Bite Worthy Foods</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Menu Group</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_items.each do |food_item| %>
      <tr>
         <td><%= food_item.menu_group.restaurant.name %></td>
         <td><%= food_item.menu_group.name %></td>
        <td><%= food_item.name %></td>
        <td><%= food_item.description %></td>
        <td>
           <% if !food_item.price_high.nil? %>
              <%= number_to_currency(food_item.price_low) %> - <%=  number_to_currency(food_item.price_high) %>
            <% else %>
              <%= number_to_currency(food_item.price_low) %>
            <% end %>
         </td>
        <td><%= link_to 'Show', food_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>