<%= render partial: '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %>
<div class="row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="center">
      <%= PhotoDecorator.decorate(@food.photos).display %>
    </div>
    <%= render partial: 'review_vote', locals: {food: @food} %>
  </div>
  <div class="small-12 medium-6 large-9 columns food-item-name">
    <div class="row">
      <div class="small-6 columns">
        <h3>
          <%= @food.name.capitalize %>
        </h3>
        <p align="none">
          <%= @food.description %>
        </p>
      </div>
      <% unless @food.tags.empty? %>
        <div class="small-6 columns">
          Tags: <%= @food.tags.map {|tag| link_to(tag.name, tag_path(tag)) }.to_sentence.html_safe %>
        </div>
      <% end %>
    </div>
  </div>
  <% if current_user && current_user.is_admin? %>
    <div class="small-12 columns">
      <%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_food_path(@restaurant, @food)} %>
    </div>
  <% end %>
</div>
