<div class="row">
   <div class="small-12 columns">
      <h2 align="center"><%= @restaurant.name %></h3>
<!-- TODO only show logo here.       -->
   </div>
   <div class="small-9 columns">

      <div class="small-3 columns">
         <%= image_tag("food_pic.png", size: "120x120", class:"center-image") %>
      </div>
      <div class="small-9 columns food-item-name">
         <p align="none">
           <%= @food.name %>
         </p>
         <p align="none">
            <%= @food.description %>
         </p>
      </div>     
   </div>
   <div class="small-3 columns" align="center">
      <p> Associations:</p>
      <%= render :partial => 'tags/tag_list', :locals => { :object => @food, :label => false } %>
   </div>
   <div class="small-6 columns left">
   </div>
   <div class="small-6 columns" align="right">
     <i class='fi-plus'></i> <%= link_to " #{@food.name}", new_food_review_path(@food) %>
      <!--  TODO if already review  <i class="fi-review"></i>   -->
   </div>
</div>