<% if current_user %>
  <% review = @all_reviews.select{|r| r.review_id == @food.id && r.review_type == @food.class.to_s}.first %>
<% end %>
<%= render partial: '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %>
<div class="row">
  <div class="small-12 medium-6 large-3 columns">
    <div class="center">
      <%= PhotoDecorator.decorate(@food.photos).display %>
    </div>
    <%= render partial: 'review_vote', locals: {food: @food, review: review} %>
  </div>
  <div class="small-12 medium-6 large-9 columns food-item-name">
    <div class="row">
      <div class="small-6 columns">
        <h3>
          <%= @food.name.capitalize %>
        </h3>
        <p align="none">
          <%= @food.description %>
        </p>
      </div>
      <div class="small-6 columns">
        <% if @food.tags.present? %>
          Tags: <%= @food.tags.map {|tag| link_to(tag.name, tag_path(tag)) }.to_sentence.html_safe %>
        <% end %>
        </br>
        <%# TODO show varieties of ingredients %>
        <% if @ingredients.present? %>
          Ingredients: <%= @ingredients.map {|ingredient| link_to(ingredient.name, ingredient_path(ingredient)) }.to_sentence.html_safe %>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user && current_user.is_admin? %>
    <div class="small-12 columns">
      <%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_food_path(@restaurant, @food)} %>
    </div>
  <% end %>
</div>
