<div class="row" align="center">

   <div class="small-12 columns food-item-name">
      <h3 class="center-text">
         <%= @food_item.name %> <%= @food_item.menu_group.name.singularize %>
      </h3>
   </div>
   <div class="small-12 columns">
      <%= image_tag("food_pic.png", size: "120x120", class:"center-image") %>
   </div>
   <div class="small-12 columns">

      <p>
        <%= @food_item.description %>
      </p>
      <p>
         <% if !@food_item.price_high.nil? %>
              <%= number_to_currency(@food_item.price_low) %> - <%=  number_to_currency(@food_item.price_high) %>
            <% else %>
              <%= number_to_currency(@food_item.price_low) %>
            <% end %>
      </p>
   </div>
   <div class="small-12 columns">
      <%= link_to "Back to #{@food_item.menu_group.restaurant.name}", restaurant_path(@food_item.menu_group.restaurant) %>
      <%= link_to "Make #{@food_item.name} a favorite", new_food_item_favorite_path(@food_item) %>
   </div>
</div>