<div class="row">
  <div class="small-12 columns" >
    <div class="small-7 medium-8 large-9 columns" style="padding-left: 0 !important;">
      <div style="text-align:left;margin-top: auto; margin-bottom: auto;">
        <h1><%= restaurant.name %></h1>
        <p><%= restaurant.slogan %></p>
        <p><%= restaurant.phone_number %></p>
        <p><%= restaurant.phone_number %></p>
      </div>
    </div>
    <div class="small-5 medium-4 large-3 columns" style="text-align: right; padding-right:0px">
      <% if restaurant.main_image_url %>
        <%= link_to(image_tag(restaurant.main_image_url, class:"restaurant-home-image-small"), restaurant, size: "100%xauto", style: "margin: 5px 0px 5px 5px;", class: "right") %>
      <% else %>
        <%= link_to(image_tag("logo_pic.png", class:"restaurant-home-image-small"), restaurant, size: "120x100%", style: "margin: 5px 0px 5px 5px;", class: "right") %>
      <% end %>
    </div>
  </div>
</div>
