<% if request.path == restaurant_path(restaurant) %>
  <div class="row restaurant-header">
    <div class="small-7 medium-8 large-9 columns" class="restaurant-header-title">
      <h1 class="restaurant-name"><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
      <p class="slogan"><%= restaurant.slogan %></p>
      <p>
      <% if restaurant.addresses.first.present? && restaurant.addresses.first.phone_number.present? %>
        <%= link_to "Call: #{restaurant.addresses.first.phone_number}", "tel://+#{restaurant.addresses.first.phone_number}" %>
      <% end %>
      <%= " Seating: #{restaurant.inside_seating.to_i + restaurant.outside_seating.to_i}" if restaurant.outside_seating.present? || restaurant.inside_seating.present? %>
      </p>
    </div>
    <div class="small-5 medium-4 large-3 columns restaurant-head-image">
      <% if restaurant.main_image_url %>
        <%= link_to(image_tag(restaurant.main_image_url, class:"restaurant-home-image-small"), restaurant_path(restaurant)) %>
        <%= restaurant.cash_only ? "<span class='cash-only'>Cash ONLY</span>".html_safe : ""  %>
      <% else %>
        <%= link_to(image_tag("logo_pic.png", class:"restaurant-home-image-small"), restaurant_path(restaurant)) %>
        <%= restaurant.cash_only ? "<span class='cash-only'>Cash ONLY</span>".html_safe : ""  %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row restaurant-header simple">
    <div class="small-12 columns" class="restaurant-header-title">
      <h1 class="restaurant-name"><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
    </div>
  </div>
<% end %>
