<%= render partial: 'restaurant_header', locals: {restaurant: @restaurant} %>
<div class="restaurant-filter universal-flex-container">
  <div class="row">
    <div class="small-12 columns">
      Tag Filter: <span id="filter-count"></span>
      <%= render partial: "tags/filter", locals: {tags: @restaurant.items.map(&:tags).flatten.uniq.sort_by(&:name)} %>
    </div>
  </div>

</div>
<div class="restaurant-show">
  <div class="grid cards-container">
    <% @items.each do |item| %>
      <div class="card columns small-12 medium-6 large-4 <%= item.tags.map(&:name).join(" ") %>">
        <div class="row card-content">
          <div class="small-7 medium-12 columns">
            <h3 class="card-title"><%= link_to item.name, restaurant_item_path(@restaurant, item) %></h3>
            <div class="hide-for-medium">

              <p class="black-text"><%= item.description.truncate(80, separator: ", ").html_safe %></p><br>

              <% if item.prices.present? %>
                <%# <%= render partial: 'items/price', locals: {prices: [item.prices.first]} %1> %>
              <% end %>

              <% item.tags.each do |tag| %>
                <%= image_tag(tag.icon.url(:tiny), tooltip: tag.name.tr("-", " ").capitalize, title: tag.name.tr("-", " ").capitalize, class: "tag-size-tiny").html_safe %>
              <% end %>
            </div>

          </div>
          <div class="small-5 medium-12 columns">
            <div class="center card-image">
              <%= link_to PhotoDecorator.decorate(item.photos).display(size: :one_by_one), restaurant_item_path(@restaurant, item) %>
            </div>
            <div class="show-for-medium">
              <p class="black-text"><%= item.description.html_safe %></p>

              <% if item.prices.present? %>
                <%# <%= render partial: 'items/price', locals: {prices: [item.prices.first]} %1> %>
              <% end %>

              <% item.tags.each do |tag| %>
                <%= image_tag(tag.icon.url(:tiny), tooltip: tag.name.tr("-", " ").capitalize, title: tag.name.tr("-", " ").capitalize, class: "tag-size-tiny").html_safe %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>

  var filters = [];
  var $grid;
  $(function(){
    $grid = $('.grid').imagesLoaded(function(){

      $grid.isotope({
        itemSelector: '.card',
        layoutMode: 'fitRows'
      });
    })

    $('.filter-button-group').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      console.log("Filtering by: " +filterValue);
      if (filterValue == "*"){
        filters = [];
        $(".tag-block").removeClass("active");
        $("#show-all-tags").addClass("active");
      } else {
        $("#show-all-tags").removeClass("active");

      }

      if($.inArray(filterValue, filters) == -1){
        console.log("pushing");
        $(this).parent().addClass("active");
        filters.push(filterValue);
      } else{
        console.log("Found, removing");
        $(this).parent().removeClass("active");
        filters = $.grep(filters, function(value) {
          return value != filterValue;
        });
      }

      console.log("filters = " + filters.join(", "));
      $grid.isotope({ filter: filters.join("") });
      updateFilterCount();
    });
  });

  function updateFilterCount() {
    $('#filter-count').text( $grid.data('isotope').filteredItems.length + ' items' );
  }
</script>
