<%= render partial: 'restaurant_header', locals: {restaurant: @restaurant} %>
<div class="restaurant-show">
  <% unless @menus.empty? %>
    <% @menus.each do |menu| %>
      <% if menu.name && !menu.name.empty? && !menu.name == "Default" %>
        <div class="small-12 columns">
          <h2><%= menu.name %> Menu </h2>
        </div>
      <% end %>
      <% unless menu.menu_groups.empty? %>
        <ul class="tabs" data-tabs id="menu-group-tabs-<%= menu.id %>">
          <% menu.menu_groups.each_with_index do |menu_group, index| %>
            <li class="tabs-title <%= 'is-active' if index==0 %>" >
              <a href="#menu_group-<%= menu_group.id %>" data-tabs-target="#menu_group-<%= menu_group.id %>"><%= menu_group.name %></a>
            </li>
          <% end %>
        </ul>
        <div class="tabs-content" data-tabs-content="menu-group-tabs-<%= menu.id %>">
          <% menu.menu_groups.each_with_index do |menu_group, index| %>
            <div class="tabs-panel <%= index==0 ? 'is-active' : ''%>" id="menu_group-<%= menu_group.id %>">
              <div class="columns small-12 cards-container">
                <div class="row">
                  <% menu_group.items.sort_by{ |i| [i.reviews.present? ? -Review.ratings[i.reviews.first.rating] : 0, i.name]}.each do |item| %>
                    <div class="card columns small-12 medium-6">
                      <%= render partial: "restaurants/card_2", locals: {item: item} %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
