<%= render :partial => 'restaurant_header', locals: {restaurant: @restaurant} %>
<% unless @menu_groups.empty? %>
<div class="row">
  <% @menu_groups.each do |menu| %>
    <div class="small-6 columns">
      <div class="row">
        <% if menu.description.empty? %>
          <div class="menu-group-head small-11"><%= menu.name %></div>
        <% else %>
          <div class="menu-group-head small-4 columns"><%= menu.name %></div>
          <div class="menu-group-description small-8 columns"><%= menu.description %></div>
        <% end %>
      </div>
      <% menu.items.each do |item| %>
        <div class="row">
          <div class="item-image small-4 columns">
            <%= link_to image_tag("food_pic.png", size: "142x142", class:"center-image"), item_path(item) %>
          </div>
          <div class="item-description small-4 columns">
            <h3><%= link_to item.name, item_path(item) %></h3>
            <%= item.description %>
          </div>
          <div class="item-price small-4 columns">
            <% item.prices.each do |price_size| %>
              <%= number_to_currency(price_size.price) %>:<%= price_size.size if price_size.size %><br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<hr>
<% else %>
<div class="small-12 columns">
  <h4 style="color:RED;">Nothing yet.</h4>
  <%= link_to "(Add Something)", new_admin_item_path(item: {restaurant_id: @restaurant.id})  %>
</div>
<% end %>
</div>
<!-- <div class="small-3 columns">
  <h5><%= link_to "Make Fav", new_restaurant_favorite_path(@restaurant), :class => "button tiny radius success right" %></h5>
</div> -->
