<%= render :partial => 'restaurant_header', locals: {restaurant: @restaurant} %>
<% unless @menu_groups.empty? %>
<div class="row">
  <div class="small-12 columns">
    <ul class="tabs vertical" data-tab>
      <% @menu_groups.each_with_index do |menu, index| %>
        <li class="tab-title <%= index==0 ? 'active' : ''%>" <%= menu.background_color ? "style=background-color:#{menu.background_color};" : "" %> ><a href="#menu-<%= menu.id %>"><%= menu.name %></a></li>
      <% end %>
    </ul>
    <div class="tabs-content vertical">
      <% @menu_groups.each_with_index do |menu, index| %>
        <div class="content <%= index==0 ? 'active' : ''%>" id="menu-<%= menu.id %>">
            <% menu.items.each do |item| %>
          <div class="row">
              <div class="item-image small-12 medium-4 columns image-wrapper">
                  <%= PhotoDecorator.decorate(item.photos).display %>
                <% if current_user %>
                  <div id="rating-reviews-item-<%=item.id%>" class="review-rating-wrapper">
                    <% review = Review.where(user_id: current_user.id, review_type: "Item", review_id: item.id).first %>
                    <% if review %>
                      <%= render partial: "/modules/rating_reviews", locals: { rating: Review.ratings[review.rating], reviewable: item } %>
                    <% else %>
                      <%= render partial: "/modules/rating_reviews", locals: { rating: 0, reviewable: item } %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="item-description small-12 medium-6 columns">
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <h3><%= link_to item.name, restaurant_item_path(item.restaurant, item) %></h3>
                    <p><%= item.description %></p>
                  </div>
                  <div class="item-price small-12 medium-6 columns">
                    <% item.prices.each do |price_size| %>
                      <%= price_to_s(price_size.value) %><%= "/#{price_size.size}" if price_size.size && !price_size.size.empty? %><br>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
<hr>
<% else %>
<div class="small-12 columns">
  <h4 style="color:RED;">Nothing yet.</h4>
  <%= link_to "(Add Something)", new_admin_restaurant_item_path(@restaurant.id)  %>
</div>
<% end %>
</div>
<h5><%= link_to "Home", root_path, :class => "button tiny radius success" %></h5>

<!-- <div class="small-3 columns">
  <h5><%= link_to "Make Fav", new_review_path(@restaurant), :class => "button tiny radius success right" %></h5>
</div> -->
