<%= render partial: 'restaurant_header', locals: {restaurant: @restaurant} %>
<div class=" restaurant-filter universal-flex-container">
  <div class="row">
    <div class="small-12 columns">
      Filter by:
      <%= link_to "Tags", "#", class: "universal-flex-button flex-button-review" %>
    </div>
    <div class="small-12 columns">
      <%= render partial: "tags/filter", locals: {tags: @restaurant.items.map(&:tags).flatten.uniq.sort_by(&:name)} %>
    </div>
  </div>

</div>
<div class="restaurant-show">
  <div class="grid cards-container">
    <% @items.each do |item| %>
      <div class="card columns small-12 medium-6 large-4 <%= item.tags.map(&:name).join(" ") %>">
        <div class="card-content">
          <h3 class="card-title"><%= link_to item.name, restaurant_item_path(@restaurant, item) %></h3>
          <div class="center card-image">
            <%= link_to PhotoDecorator.decorate(item.photos).display, restaurant_item_path(@restaurant, item) %>
          </div>
          <% if current_user %>
            <div id="rating-reviews-item-<%=item.id%>" class="review-rating-wrapper">
              <%= render partial: "/modules/rating_reviews", locals: { reviewable: item } %>
            </div>
          <% end %>
          <p class="black-text"><%= item.description %></p>
          <% if item.prices.present? %>
            <%= render partial: 'items/price', locals: {item: item} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>

  var $grid;
  $(function(){
    $grid = $('.grid').imagesLoaded(function(){

      $grid.isotope({
        itemSelector: '.card',
        layoutMode: 'fitRows'
      });
    })
    $('.filter-button-group').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      console.log("Filtering by" +filterValue);
      console.log("grid = " + $grid);
      $grid.isotope({ filter: filterValue });
    });
  });
</script>
