<div class="row">
   <div class="small-3 columns">
      <%= image_tag("logo_pic.png", size: "120x120") %>
   </div>
   <div class="small-9 columns">
      <h3><%= @restaurant.name %></h3>
      <%= @restaurant.slogan %>
   </div>
   <div class="small-12 columns">
      <% @menu_groups.each do |menu| %>
         <div class="small-12 columns">
            <h5 class="menu-group-head"><%= menu.name %></h5>
         <% menu.food_items.each do |item| %>
            <div class="small-12 columns">
               <td class="food-item"><%= link_to item.name, food_item_path(item) %> </td>
            </div>
         <% end %>
         </div>
      <% end %>
   </div>
   <hr>
   <div class="small-12 columns">
      <%= link_to 'Restaurants', restaurants_path %>
   </div>
</div>