<%= render partial: 'restaurant_header', locals: {restaurant: @restaurant} %>
<div class="restaurant-show">
  <% unless @menus.empty? %>
    <% @menus.each do |menu| %>
      <% if menu.name && !menu.name.empty? && !menu.name == "Default" %>
        <div class="small-12 columns">
          <h2><%= menu.name %> Menu </h2>
        </div>
      <% end %>
      <% unless menu.menu_groups.empty? %>
        <ul class="tabs" data-tabs id="menu-group-tabs-<%= menu.id %>">
          <% menu.menu_groups.each_with_index do |menu_group, index| %>
            <li class="tabs-title <%= 'is-active' if index==0 %>" >
              <a href="#menu_group-<%= menu_group.id %>" data-tabs-target="menu_group-<%= menu_group.id %>"><%= menu_group.name %></a>
            </li>
          <% end %>
        </ul>
        <div class="tabs-content" data-tabs-content="menu-group-tabs-<%= menu.id %>">
          <% menu.menu_groups.each_with_index do |menu_group, index| %>
            <div class="tabs-panel <%= index==0 ? 'is-active' : ''%>" id="menu_group-<%= menu_group.id %>">
              <div class="columns small-12 cards-container">
                <div class="row">
                  <% menu_group.items.sort_by{ |i| [i.reviews.present? ? -Review.ratings[i.reviews.first.rating] : 0, i.name]}.each do |item| %>
                    <div class="card columns small-12 medium-6 large-4">
                      <div class="card-content">
                        <h3 class="card-title"><%= link_to item.name, restaurant_item_path(@restaurant, item) %></h3>
                        <div class="center card-image">
                          <%= link_to PhotoDecorator.decorate(item.photos).display, restaurant_item_path(@restaurant, item) %>
                        </div>
                        <% if current_user %>
                          <div id="rating-reviews-item-<%=item.id%>" class="review-rating-wrapper">
                            <%= render partial: "/modules/rating_reviews", locals: { reviewable: item } %>
                          </div>
                        <% end %>
                        <p class="black-text"><%= item.description %></p>
                        <div class="tag-flex-container">
                          <% food_tags = item.foods.select{|food| food.tags if food.tags.present?}.map(&:tags).flatten %>
                          <% tags = (food_tags + item.tags).flatten.uniq %>
                          <% tags.map do |tag| %>
                            <%= render partial: "tags/block", locals: {tag: tag, size: :small, hide_text: true} %>
                          <% end %>
                        </div>
                        <% if item.prices.present? %>
                          <%= render partial: 'items/price', locals: {item: item} %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
