<% if current_user %>
  <% review = @user_reviews.select{|r| r.review_id == item.id && r.review_type == item.class.to_s}.first %>
<% end %>

<div class="card columns small-12 medium-6 large-4 <%= item.tags.map(&:name).join(" ") %>" data-item-review-rating="<%= review.present? ? Review.ratings[review.rating] : 0 %>">
  <div class="row card-content">
    <div class="small-7 medium-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <h3 class="card-title"><%= link_to item.name, restaurant_item_path(restaurant, item) %></h3>
        </div>
        <div class="small-12 columns hide-for-medium">
          <p class="black-text"><%= item.description.truncate(80, separator: ", ").html_safe %></p>
        </div>
        <div class="small-12 columns hide-for-medium">
          <% item.tags.each do |tag| %>
            <span class="restaurant-show-tag", data-filter=".<%= tag.name %>">
              <%= image_tag(tag.icon.url(:tiny), tooltip: tag.name.tr("-", " ").capitalize, title: tag.name.tr("-", " ").capitalize, class: "tag-size-tiny").html_safe %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="small-5 medium-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <div class="center card-image">
            <%= link_to show_image(item, size: :one_by_one), restaurant_item_path(restaurant, item) %>
          </div>
        </div>
        <div class="small-12 columns show-for-medium">
          <%= render partial: 'items/review_vote', locals: { item: item, review: review } %>
        </div>
        <div class="small-12 columns show-for-medium">
          <p class="black-text"><%= item.description.html_safe %></p>
        </div>
        <div class="small-12 columns show-for-medium">
          <% item.tags.each do |tag| %>
            <span class="restaurant-show-tag", data-filter=".<%= tag.name %>">
              <%= image_tag(tag.icon.url(:tiny), tooltip: tag.name.tr("-", " ").capitalize, title: tag.name.tr("-", " ").capitalize, class: "tag-size-tiny").html_safe %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
