<div class="row">
  <div class="small-12 medium-6 columns">
    <h3>
      <%= item.name %>
    </h3>
    <p align="none">
      <%= item.description %>
    </p>
  </div>
  1
  <%= render partial: "items/list", locals: {list_name: "foods", list: item.foods} %>
  2
  <%= render partial: "items/list", locals: {list_name: "ingredients", list: item.ingredients} %>
  3
  <%= render partial: "items/list", locals: {list_name: "choices", list: item.extras.choice} %>
  4
  <%= render partial: "items/list", locals: {list_name: "additions", list: item.extras.addition} %>
</div>
