<div class="row">
  <div class="small-12 columns">
    <h5 class="item-description"><%= item.description %></h5>
  </div>
  <%= render partial: "items/list", locals: {list_name: "foods", list: item.foods} %>
  <%# <%= render partial: "items/list", locals: {list_name: "ingredients", list: item.ingredients} %1> %>
  <%= render partial: "items/list", locals: {list_name: "choices", list: @item_extras_choice} %>
  <%= render partial: "items/list", locals: {list_name: "additions", list: @item_extras_addition} %>
  <% food_tags = item.foods.select{|food| food.tags if food.tags.present?}.map(&:tags).flatten %>
  <% tags = (food_tags + item.tags).flatten.uniq %>
  <%= render partial: 'tags/list', locals: {tags: tags} %>
</div>
