<div class="row">
  <div class="small-12 columns show-for-small-only">
    <h2><%= link_to item.restaurant.name, restaurant_path(item.restaurant) %></h2>
  </div>
  <div class="small-4 medium-6 large-4 columns">
    <%= PhotoDecorator.decorate(item.photos).display %>
  </div>
  <div class="small-8 medium-6 large-8 columns">
    <h2 class="show-for-medium"><%= link_to item.restaurant.name, restaurant_path(item.restaurant) %></h2>
    <h3>
      <%= link_to item.name, restaurant_item_path(item.restaurant, item) %>
    </h3>
    <p class="desc">
      <%= item.description %>
    </p>
  </div>
</div>
