<div class="item-show">
  <h3 class="center">
    <%= link_to item.name, restaurant_item_path(item.restaurant, item) %>
  </h3>
  <div class="image-wrapper center">
    <%= link_to PhotoDecorator.decorate(item.photos).display, restaurant_item_path(item.restaurant, item) %>
  </div>
  <% if current_user %>
    <div id="rating-reviews-item-<%=item.id%>" class="review-rating-wrapper">
      <%= render partial: "/modules/rating_reviews", locals: { reviewable: item, review: item.get_review(current_user) } %>
    </div>
  <% end %>
  <p align="none">
    <%= item.description %>
  </p>
</div>
