<%# <%= render partial: '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %1> %>
<div class="item-container">
  <div class="row">
    <div class="small-12 medium-6 large-4 columns">
      <h3 class="item-name">
        <%= link_to @restaurant.name, restaurant_path(@restaurant) %>
        <%= @item.name %>
      </h3>
      <%= render partial: 'image', locals: {item: @item} %>
      <%= render partial: 'review_vote', locals: {item: @item} %>
      <%= render partial: 'price', locals: {prices: @item.prices} %>
    </div>
    <div class="small-12 medium-6 large-8 columns">
      <%= render partial: 'name_desc_foods_extras', locals: {item: @item} %>
    </div>
    <br>
    <%= render partial: 'item_footer', locals: {item: @item, review: @review} %>
  </div>
</div>
