<h5>Choices:</h5>
<ul class="choice-list">
  <% @item.extras.choice.map do |extra| %>
    <li id="item-<%= @item.id %>-extra-<%= extra.id %>">
      <%= link_to extra.extrable.name, edit_polymorphic_path([:admin, extra.restaurant, extra.extrable]) %>
      <%= link_to Icon.sup_x.html_safe, admin_restaurant_item_remove_extra_path(item.restaurant, item, extra_id: extra.id), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>
<h5>Additions:</h5>
<ul class="addtion-list">
  <% @item.extras.addition.map do |extra| %>
    <li id="item-<%= @item.id %>-extra-<%= extra.id %>">
      <%= link_to extra.extrable.name, edit_polymorphic_path([:admin, extra.restaurant, extra.extrable]) %>
      <%= link_to Icon.sup_x.html_safe, admin_restaurant_item_remove_extra_path(item.restaurant, item, extra_id: extra.id), method: :delete, remote: true %>
    </li>
  <% end %>
</ul>
