<div class="small-12 columns">
  <% if current_user == @user || current_user.is_admin?%>
    <%= simple_form_for(@user, url: admin_user_path(@user)) do |f| %>
      <% if @user.errors.any? %>
        <div class="div.alert-box.alert.round" id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="small-12 medium-6 columns">
        <%= f.input :user_name %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :email %>
      </div>
      <% if current_user.is_admin %>
        <div class="small-12 medium-6 large-3 columns">
          <% if !@user.approved %>
            <%= f.input :approved %>
          <% end %>
          <%= f.input :is_editor %>
          <%= f.input :is_admin %>
        </div>
        <div class="small-12 medium-6 large-3 columns">
          Do Good or be:
          <%= f.input :banned %>...
        </div>
        <div class="small-12 medium-6 large-3 columns">
          <% if current_user.level == "nom" %>
            <%= f.input :level, collection: User.levels.to_a.collect{|c| [c[0].titleize, c[0]]} %>
          <% end %>
        </div>
        <div class="small-12 medium-6 large-3 columns">
          <%= f.input :strikes, placeholder: "0..3" %>
        </div>
      <% end %>
      <div class="small-12 columns universal-flex-container">
        <%= f.submit "Save", class: "universal-flex-button flex-button-natural" %>
        <%= link_to 'All', admin_users_path, class: "universal-flex-button flex-button-natural" if current_user.is_admin? %>
      </div>
    <% end %>
  <% else %>
    <h2> You do not have permissions to edit.</h2>
  <% end %>
</div>
