<div class="row">
  <div class="small-10 columns">
     <h1>Listing Users</h1>
      <table>
         <th></th>
         <th>Name</th>
         <th>Email</th>
         <th>Admin</th>
         
         <% @users.each do |user| %>
         <tr>
            <td><%= link_to raw('<i class="fi-pencil small"></i>'), edit_admin_user_path(user)%>
            <td><%= user.user_name %></td>
            <td><%= user.email %></td>
            <td><%= user.is_admin ? 'Yes' : 'No' %></td>
         </tr>
         <% end %>          
      </table>
      </div>
   <div class="small-2 columns">
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
   </div>
</div>