<%= simple_form_for(extra.prices.new, url: admin_restaurant_extra_add_new_price_path(restaurant, extra), method: :post) do |f| %>
  <%= f.hidden_field :priced_id %>
  <%= f.hidden_field :priced_type %>
  <div class="row">
    <div class="small-4 columns">
      <%= f.input :value %>
    </div>
    <div class="small-6 columns">
      <%= f.input :size %>
    </div>
    <div class="small-2 columns">
      <%= f.submit class: "button tiny radius success", value: 'Add' %>
    </div>
  </div>
<% end %>
