<%= render :partial => '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %>
<div class="row extra-@extra-<%=@extra.id%>">
  <div class="small-12 columns">
    <h3><%= @extra.extra_type.capitalize %> of:</h3>
  </div>
  <div class="small-4 columns">
    <%= @extra.name %>
  </div>
  <% if @extra.description.present? %>
    <div class="small-5 columns">
      <h4>Description:</h4>
      <%= @extra.description %>
    </div>
  <% end %>
  <div class="small-5 columns">
  </div>
</div>
<% if current_user && current_user.is_admin? %>
  <div class="row">
    <div class="small-12 columns">
      <%= render partial: "partials/forms/edit", locals: {path: edit_admin_restaurant_extra_path(@extra.restaurant, @extra)} %>
    </div>
  </div>
<% end  %>
