<div class="row">
  <div class="small-12 columns">
    <%= render partial: '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %>
  </div>

  <div class="small-12 columns">
    <div class="row extra-<%= @extra.addon_type%>-<%= @extra.id %>">
      <div class="small-12 medium-6 large-4 columns">
        <h3><%= @extra.addon_type.capitalize %> of: <%= @extra.extrable.name %></h3>
      </div>
      <% if @extra.extrable.description.present? %>
        <div class="small-12 medium-6 large-8 columns">
          <h4>Description:</h4>
          <%= @extra.extrable.description %>
        </div>
      <% end %>
      <div class="small-12 medium-6 large-4 columns">
        <%= show_image(@extra.extrable) %>
      </div>
    </div>
  </div>
  <%= render partial: 'footer', locals: {extra: @extra} %>
</div>
