<%= render partial: '/restaurants/restaurant_header', locals: {restaurant: @restaurant} %>
<div class="row extra-@extra-<%=@extra.id%>">
  <div class="small-12 medium-6 large-4 columns">
    <h3><%= @extra.extra_type.capitalize %> of: <%= @extra.name %></h3>
  </div>
  <% if @extra.description.present? %>
    <div class="small-12 medium-6 large-8 columns">
      <h4>Description:</h4>
      <%= @extra.description %>
    </div>
  <% end %>
  <% if @extra.foods.present? %>
    <h3>Foods:</h3>
    <div class="small-12 medium-6 large-8 columns">
      <%= render partial: "extras/foods/list", locals: {list_name: "Food #{@extra.extra_type}s ", words_connector: @extra.extra_type == "choice" ? " or " : nil } %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="small-12 medium-6 large-4 columns">
    <% @extra.photos.each do |photo| %>
      <%= PhotoDecorator.decorate(photo).display %>
    <% end %>
  </div>
</div>
