<div class="row" id="rating-reviews-<%=review.id%>" >
  <div class="small-4 columns image-wrapper">
    <% if defined? reviewed.photos %>
      <%= link_to PhotoDecorator.decorate(reviewed.photos.sample).display, edit_review_path(review) %>
    <% elsif reviewed.class.to_s == "Tag" %>

      <div class="tag-flex-container">
        <%= render partial: "tags/block", locals: {tag: reviewed, size: :medium} %>
      </div>
    <% end %>
  </div>
  <div class="small-8 columns">
    <h3 style="float:left;">
      <%= link_to reviewed.name, edit_review_path(review) %>
    </h3>
  </div>
  <div class="small-12 columns">
    <p align="none">
    <%= render partial: "reviews/type_link", locals: {review: review, reviewed: review.review} %>
    </p>
  </div>
</div>
