<div class="row card-content" id="rating-reviews-<%=review.id%>" >
  <div class="small-4 medium-6 large-4 columns image-wrapper">
    <% if defined? reviewed.photos %>
      <div class="center card-image">
        <%= link_to show_image(reviewed), edit_review_path(review) %>
      </div>
      <% elsif reviewed.class.to_s == "Tag" %>
      <div class="tag-flex-container">
        <%= render partial: "tags/block", locals: {tag: reviewed, size: :large, hide_text: true} %>
      </div>
    <% end %>
    <p align="none">
      <%= render partial: "reviews/type_link", locals: {review: review, reviewed: review.review} %>
    </p>
  </div>
  <div class="small-8 medium-6 large-8 columns">
    <h4>
      <%= link_to reviewed.name.humanize, edit_review_path(review) %>
    </h4>
    <% if review.title.present? %>
      <h5>
        <%= review.title %>
      </h5>
    <% end %>
    <% if review.description.present? %>
      <p>
      <%= review.description %>
      </p>
    <% end %>
  </div>
</div>
