<div class="row">
  <div class="small-12 columns">
    <h1 align="center" style="float:left">Your Bite Worthy Reviews</h1>
    <div style="float:right; padding-top:.5em">
      <span>Filter:</span>
      <%= form_tag reviews_path, method: "get" do |f| %>
        <%= select_tag "filter_type", options_for_select([ "", "Restaurants", "Items", "Foods", "Ingredients" ], @filter_type), onChange: 'this.form.submit();' %>
      <% end %>
    </div>
  </div>
  <div class="small-12 columns">
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <% if @review_class != review.rating %>
          <hr>
          <div class="row">
            <% @review_class = review.rating %>
            <div class="small-12 columns">
              <h2>
                <%= @review_class.humanize %>
              </h2>
            </div>
          </div>
        <% end %>
        <div class="small-12 medium-6 large-4 columns">
          <%= render partial: "show", locals: {review: review, reviewed: (review.review_type.constantize).find(review.review_id)} %>
        </div>
      <% end %>
    <% else %>
      <h5>Oh noos! You have no <%= "#{@filter_type} " %>reviews.</h5>
      <h6><%= current_user ? "Start voting" : "Login and value" %></h6>
    <% end %>
  </div>
</div>
