<script type="text/javascript" src="/assets/jscolor.js"></script>
<div class="row">

  <%= simple_form_for([:admin, @restaurant, @menu]) do |f| %>
  <!-- , url: admin_menu_path(@menu) -->
    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
        <ul>
        <% @menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= hidden_field_tag 'menu[restaurant_id]', @restaurant.id %>
    <div class="small-12 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 columns">
      <%= f.input :description %>
    </div>
    <%= f.fields_for :hours do |menu_form| %>
      <div class="small-12 medium-4 columns">
        <%= menu_form.input :opens, as: :time, html5: true %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= menu_form.input :closes, as: :time, html5: true %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= menu_form.input :day, as: :select, collection: Hour.days.keys.to_a, include_blank: false %>
      </div>
    <% end %>
    <div class="small-12 columns">
      <%= f.submit :class => "button small radius"  %>
    </div>
  <% end %>
<<<<<<< HEAD
  <div style="float:right;">
    <%= link_to 'Menu Groups', admin_restaurant_menus_path(@restaurant), :class => "button tiny radius"  %>
=======
  <%= hidden_field_tag 'menu[restaurant_id]', @restaurant.id %>
  <div class="field">
    <%= f.input :name %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :background_color, input_html:{ class: 'color'} %>
  </div>
  <div class="field">
    <%= f.input :text_color, input_html:{ class: 'color'} %>
  </div>

  <div class="actions">
    <%= f.submit :class => "button small radius" %>
>>>>>>> 75e49e17f51fc37bad367d58784fa136ef83d68c
  </div>
</div>
