<h1>Listing <%=@restaurant.name%> Menus</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.description %></td>
        <td><%= link_to 'Edit', edit_admin_restaurant_menu_path(@restaurant, menu) %></td>
        <td><%= link_to 'Destroy', admin_restaurant_menu_path(@restaurant, menu), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_admin_restaurant_menu_path(@restaurant), class: "button tiny radius success" %>
<%= render partial: "admin/restaurants/footer", locals: {left_button: (link_to 'New Menu group', new_admin_restaurant_menu_group_path(@restaurant), class: "button tiny radius success")} %>
