<%= simple_form_for(@report) do |f| %>
  <div class="small-12 columns">
    <%= f.error_notification %>
  </div>

  <div class="small-12 columns">
    <%= f.input :name %>
  </div>
  <div class="small-12 medium-4 columns">
    <ul>
      <li>What happened?</li>
      <li>What should have happend?</li>
      <li>Steps to recreate</li>
    </ul>
  </div>
  <div class="small-12 medium-8 columns">
    <%= f.input :description %>
  </div>
  <div class="small-12 columns">
  </div>
  <div class="small-12 medium-4 columns">
    <%= f.input :report_type, collection: Report.report_types.keys, prompt: 'Please select a report type' %>
  </div>
  <div class="small-12 medium-8 columns">
    <%= f.input :page_url %>
  </div>

  <div class="small-12 columns universal-flex-container">
    <%= f.button :submit, class: "universal-flex-button flex-button-natural"%>
  </div>
<% end %>
