<div class="row">
  <div class="small-12 columns">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="small-12 columns">
    <h1>Listing Reports</h1>
  </div>

  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Page url</th>
          <th>Report type</th>
          <% if current_user && current_user.is_admin? %>
            <th colspan="3"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td><%= report.name %></td>
            <td><%= report.description %></td>
            <td><%= report.page_url %></td>
            <td><%= report.report_type %></td>
            <% if current_user && current_user.is_admin? %>
              <td><%= link_to raw("<i class='fa fa-eye'></i>"), report %></td>
              <td><%= link_to raw('<i class="far fa-edit"></i>'), edit_report_path(report) %></td>
              <td><%= link_to raw('<i class="fa fa-trash"></i>'), report_path(report), method: :delete, data: { confirm: 'Are you sure you want to delete this report?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="small-12 columns universal-flex-container">
    <%= link_to 'New Report', new_report_path, class: "universal-flex-button flex-button-natural" %>
  </div>
</div>
