<div class="row" style="padding: 0;">
  <div class="small-12">
    <div class="bw-top-bar">
      <div class="home-logo">
        <%= link_to image_tag("bw-1"), root_path %>
      </div>
      <div class="search">
        <%= form_tag "/search", url: 'search', method: :get do |f| %>
          <div class="universal-flex-container">
            <input type="search" name="query" placeholder="Search for a restaurant, food, diet..." autofocus class="universal-flex-element search-bar">
            <%= button_tag("<i class='fi-magnifying-glass'></i>".html_safe, class: "universal-flex-button  search-go") %>
          </div>
        <% end %>
      </div>
      <% if current_user %>
        <nav class="admin-nav">
        <ul class="admin-nav-primary-list">
          <li class="admin-nav-primary-item"><%= link_to "Reviews", reviews_path %></li>
          <li class="admin-nav-primary-item">
            <%= link_to "Profile", me_path %>
            <ul class="admin-nav-secondary-list">
              <li class="admin-nav-secondary-item"><%= link_to "Edit", edit_user_registration_path(current_user) %></li>
            </ul>
          </li>
          <% if current_user.is_admin? %>
            <li class="admin-nav-primary-item">
              <%= link_to "Admin", admin_root_path %>
              <ul class="admin-nav-secondary-list">
                <li class="admin-nav-secondary-item"><%= link_to "Users",       admin_users_path %></li>
                <li class="admin-nav-secondary-item"><%= link_to "Restaurants", admin_restaurants_path %></li>
                <li class="admin-nav-secondary-item"><%= link_to "Items",       admin_items_path %></li>
                <li class="admin-nav-secondary-item"><%= link_to "Foods",       admin_foods_path %></li>
                <li class="admin-nav-secondary-item"><%= link_to "Tags",        admin_tags_path %></li>
                <li class="admin-nav-secondary-item"><%= link_to "*Ingredients*", admin_ingredients_path %></li>
              </ul>
            </li>
          <% end %>
          <li class="admin-nav-primary-item log-out"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </nav>
      <% else %>
        <div class="universal-flex-container">
          <%= link_to "Login".html_safe, user_session_path, class: "universal-flex-button", style: "margin:.5rem;" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
