<div class="row">
  <div class="small-12 show-for-medium columns">
    <% if @restaurant && false %>
      <div class="home-logo">
        <%= link_to image_tag(@restaurant.main_image_url), restaurant_path(@restaurant) %>
      </div>
    <% else %>
      <div class="home-logo">
        <%= link_to image_tag("bite-worthy-durango"), root_path %>
      </div>
    <% end %>
    <div class="bw-top-bar">
      <%# <div class="search"> %>
      <%#   <%= form_tag "/search", url: 'search', method: :get do |f| %1> %>
      <%#     <div class="universal-flex-container"> %>
      <%#       <input type="search" name="query" placeholder="Search for a restaurant, food, diet..." autofocus class="universal-flex-element search-bar"> %>
      <%#       <%= button_tag("<i class='fa fa-search'></i>".html_safe, class: "universal-flex-button  search-go") %1> %>
      <%#     </div> %>
      <%#   <% end %1> %>
      <%# </div> %>
      <% if current_user %>
        <nav class="admin-nav">
        <ul class="admin-nav-primary-list">
          <%= link_to reviews_path do %>
            <li class="admin-nav-primary-item">My reviews</li>
          <% end %>
          <% if current_user.is_admin? %>
            <li class="admin-nav-primary-item">
              <%= link_to "Admin", admin_root_path %>
              <ul class="admin-nav-secondary-list">
              <%= link_to admin_users_path do %>
                <li class="admin-nav-secondary-item">Users</li>
              <% end %>
              <%= link_to admin_restaurants_path do %>
                <li class="admin-nav-secondary-item">Restaurants</li>
              <% end %>
              <%= link_to admin_items_path do %>
                <li class="admin-nav-secondary-item">Items</li>
              <% end %>
              <%= link_to admin_foods_path do %>
                <li class="admin-nav-secondary-item">Foods</li>
              <% end %>
              <%= link_to admin_tags_path do %>
                <li class="admin-nav-secondary-item">Tags</li>
              <% end %>
              <%= link_to admin_ingredients_path do %>
                <li class="admin-nav-secondary-item">Ingredients*</li>
              <% end %>
              </ul>
            </li>
          <% end %>
          <li class="admin-nav-primary-item nav-right">
            <%= link_to "<span class='player-points'>[#{@points}]</span> #{current_user.user_name}".html_safe, me_path %>
            <ul class="admin-nav-secondary-list">
              <%= link_to edit_user_registration_path do %>
                <li class="admin-nav-secondary-item">Edit</li>
              <% end %>
              <%= link_to choose_tags_path do %>
                <li class="admin-nav-secondary-item">Tag Choices</li>
              <% end %>
              <%= link_to(destroy_user_session_path, method: :delete) do %>
                <li class="admin-nav-secondary-item log-out">Logout</li>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>
      <% else %>
        <div class="wb-flex flex-end">
          <%= link_to "Login".html_safe, user_session_path, class: "btn-bw-green", style: "margin:.5rem;" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="small-12 show-for-small-only">
    <% if @restaurant && false  %>
      <div class="home-logo">
        <%= link_to image_tag(@restaurant.main_image_url), restaurant_path(@restaurant) %>
      </div>
    <% else %>
    <div class="home-logo">
      <%= link_to image_tag("bite-worthy-durango"), root_path %>
    </div>
  <% end %>
    <a href="#" class="slideout-menu-toggle left-header-btn">
      <i class="fa fa-bars slideout-menu-icon"></i>
    </a>
  </div>
</div>
