<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head" %>
  <body>
    <div class="row">
      <div class="small-12 columns main-page">
        <%= render partial: "layouts/header" %>
        <%= render partial: "layouts/notice" %>
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>
        <%= render partial: "/layouts/footer" %>
    </div>
  </body>
</html>
