<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body>
    <%= render partial: "layouts/header" %>
    <%= render partial: "layouts/side_menu" %>
    <div class="row main-page">
      <%= render partial: "layouts/notice" %>
      <div class="columns">
        <%= yield %>
      </div>
    </div>
    <%= render partial: "modules/search" %>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
