<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head" %>
  <body>
    <div class="row main-page">
      <div class="small-12 columns">
        <%= render partial: "layouts/header" %>
        <%= render partial: "layouts/notice" %>
        <%= yield %>
        <%= javascript_include_tag "application" %>
      </div>
    </div>
    <%= render partial: "/layouts/footer" %>
  </body>
</html>
