<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: "layouts/head" %>
  </head>
  <body>
    <%= render partial: "layouts/header" %>
    <div class="row main-page">
    <%= render partial: "layouts/notice" %>
      <%= yield %>
    </div>
    <%= render partial: "modules/search" %>
    <%= render partial: "/layouts/footer" %>
  </body>
</html>
