<%= simple_form_for(food.ingredients.new, url: admin_restaurant_food_add_ingredient_by_name_path(restaurant, food), method: :post) do |f| %>
  <%= f.hidden_field :restaurant_id, value: food.restaurant.id %>
  <%= hidden_field_tag 'food_id', food.id %>
  <div class="row">
    <div class="small-3 columns">
      <%= f.input :name %>
    </div>
    <%# <div class="small-6 columns"> %>
    <%#   <%= f.input :description %1> %>
    <%# </div> %>
    <div class="small-3 columns">
      <div style="padding-top:25px;" class="universal-button-container">
        <%= f.submit class: "universal-flex-button flex-button-natural", value: 'Create' %>
      </div>
    </div>
  </div>
<% end %>
